
* {

    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}
header {

    background-image: url("images/banner/banner1.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}


.text-area {

    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-left: 50%;
    padding-right: 30px;
    

}


.text-area h1 {
    font-size: 65px;
    line-height: 100%;
    text-align: right;
    margin-bottom: 24px;




}

.text-area p {
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin-bottom: 32px;



}

.btn-contact-me {

    padding: 16px 12px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: white;


}

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    text-align: center;
    margin-top: 130px;
}

.previous-area {


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container {

    width: 50%;
}

.text-container {

    width: 50%;
}

.text-container h1 {

    font-size: 40px;
    margin-bottom: 24px;
    text-align: left;


    
}

.text-container p {

    color: #444343;
    text-align: left;
}

.plans {

    display: flex;
    margin-top: 55px;
    margin-right: 230px;
}

.cat {

    margin-left: 300px;
    line-height: 35px ;

}

.cat p {

    color: #737272;
    
}

.call-area {

    background-image: url("images/watch.png"),linear-gradient(to right, #F15B22 0%, #FF7F50 20%, #FFA07A 40%, #F0E68C 60%, #ADD8E6 80%, #a6bbc400 100% ) ;
    background-repeat: no-repeat;
    width: 1200px;
    background-blend-mode: multiply;

}

.title-area {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 59px 64px;
}

.title-area h1 {

    margin-bottom: 40px;
    color: white;
    font-size: 40px;
}


.sec-button {

    padding: 15px 36px;
    color: #F15B22;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}

footer {

    background: black;
    width: 100%;
    height: 577px;
    color: white;
    margin-top: 130px;

}

.footer-area {
    width: 100%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-text {

    width: 50%;


}


.input-area {

    width: 30%;
    margin-left: 10%;
}

.input-area h3 {

    margin-bottom: 31px;
}

input {

    border: 1px solid gainsboro;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;

    margin-bottom: 16px;
}

.footer-text h1 {

    color: white;
    margin-bottom: 16px;
}

.footer-text p {

    margin-bottom: 24px;
}

.icon img {

    margin-right: 5px;
}