
* {

    margin: 0;
}
header {

    background-image: url("images/banner/banner1.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}


.text-area {

    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-left: 50%;
    padding-right: 30px;
    

}


.text-area h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 65px;
    line-height: 100%;
    text-align: right;
    margin-bottom: 24px;




}

.text-area p {
    font-family: 'Work Sans', sans-serif;
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin-bottom: 32px;



}

button {

    padding: 16px 12px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: white;
    

}